<div class="list d-flex flex-column">
  <h1 class="text-center text-uppercase text-white bg-success bg-gradient m-0 p-1">Chat rooms</h1>
  <form [formGroup]="roomForm" (ngSubmit)="createRoom()" class="input-group p-1" [ngClass]="show ? '' : 'hidden' ">
    <input formControlName="roomName" class="form-control bg-transparent text-white-50" type="text"
      placeholder="Chat room name">
    <button class="btn btn-success bg-gradient" type="submit" [disabled]="roomForm.invalid">Create Room</button>
  </form>
  <div class="rooms d-flex flex-column flex-grow-1 overflow-y-auto overflow-x-hidden p-2">
    <app-room-card *ngFor="let room of rooms$ | async" [chatName]="room"></app-room-card>
  </div>
  <button class="add btn bg-gradient rounded-circle align-self-end" [ngClass]="show ? 'btn-danger' : 'btn-success'"
    type="button" (click)="displayRoomForm()"><i [ngClass]="show ? 'bi bi-x-lg' : 'bi bi-plus-lg'"></i></button>
</div>