<div class="mb-2" (click)="toggleTime()">
  <div class="d-flex mb-1 justify-content-end" [ngClass]="user ? 'flex-row' : 'flex-row-reverse'">
    <div class="bg-secondary bg-gradient overflow-hidden" [ngClass]="user ? 'user' : 'guest'">
      <p class="m-0 px-3 text-white" [ngClass]="user ? '' : 'bg-primary bg-gradient'">{{user ? '' : username}}</p>
      <p class="m-0 p-3">{{msg}}</p>
    </div>
    <img class="border border-2 border-primary"
      [ngClass]="user ? 'hidden' : 'flex-grow-0 align-self-end rounded-circle'" src="{{url}}" alt="">
  </div>
  <p *ngIf="!hidden" class="text-white-50 m-0" [ngClass]="!user ? '' : 'text-end'">{{time | date: 'dd/MM, HH:mm' }}
  </p>
</div>