.d-flex {
  max-width: 100vw;
  gap: 1rem;
  .avatar {
    max-width: 3rem;
    aspect-ratio: 1/1;
  }
}

.user {
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
}

.guest {
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
}
.hidden {
  display: none;
}
